$main-color: #072227;
$secondary-color: #406882;
$tertiary-color: #6998AB;
$forth-color: #B1D0E0;


body {
    background-color: $main-color;
}



.navbar {
    background-color: $main-color;
    color: white;
    form {
        .form-control {
            border: 1px solid $forth-color;
            background-color: $main-color;
        }
        .btn {
            border: 1px solid $forth-color;
            background-color: $tertiary-color;
        }
    }
}

.content {
    margin-top: 100px;
    .card {
        background-color: $main-color;
        border: 1px solid $forth-color;
        cursor: pointer;
        .card-body {
            height: 150px;
            h5 {
                color: $forth-color;
            }
        }
        .modal {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        .movie-overview  {
                            .overview {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
        .show-details {
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}