@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$main-color: black;
$secondary-color: #F1F1F1;
$tertiary-color: #9D9D9D;
$forth-color: #EEEBDD;


body {
    background-color: $main-color;
    font-family: 'Quicksand', sans-serif;
}



.navbar {
    background-color: $main-color;
    color: #EEEEEE;
    form {
        .form-control {
            border: 1px solid $forth-color;
            background-color: $main-color;
        }
        .btn {
            border: 1px solid $forth-color;
        }
    }
}

.content {
    margin-top: 100px;
    h1 {
        color: $tertiary-color;
    }
    .card {
        background-color: $main-color;
        cursor: pointer;
        .card-body {
            height: 150px;
            .card-title {
                font-weight: 700;
            }
            .show-details {
                cursor: pointer;
                text-decoration: none;
                color: white;
                &:hover {
                    text-decoration: underline;
                }
            }
            h5 {
                color: $secondary-color;
            }
            .bi-star-fill {
                color: #FFCA03;
            }
        }
    }
}
.modal {
    .modal-dialog {
        .modal-content {
            background-color: $forth-color;
            .modal-body {
                .list-group {
                    .list-group-item {
                        background-color: $forth-color !important;
                        color: $main-color;
                    }
                }
            }
        }
        .modal-close {
            background-color: $main-color !important;
            color: $forth-color;
            &:hover {
                background-color: $tertiary-color !important;
            }
        }
    }
}